html,
body,
head,
#root,
#app,
.svg_root {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.svg_root {
  overflow: visible;
  overflow-y: visible; 
}
/* The root element */

#root {
  height: 100vh;
  width: 100vw;
}

#root.hidden {
    display: inline;
}

#root.shown {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 100px auto;
  grid-template-areas: "header header" "sidepanel main_div" "sidepanel main_div";
}

/* Elements inside root */
/* The header element and elements inside it */

.header {
  grid-area: header;
  background: rgb(120, 150, 196);

  display: grid;
  grid-template-columns: 350px auto;
  grid-template-areas: "sidepanel_button title_banner";

  text-align: center;
  line-height: 100px;
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sidepanel_button {
  grid-area: sidepanel_button;
  text-align: center;
  width: 50%;
  font-size: 0.6em;
}

/* The sidepanel element and elements inside it */

.sidepanel {
  grid-area: sidepanel;
  background: rgb(202, 202, 202);
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#read_sidepanel {
    word-wrap: break-word;
    background-color: #eee;
}

.section_title {
  text-align: center;
}

fieldset {
  background-color: #ccc;
}

legend {
  font-weight: bold;
}

/* The main_div element and elements inside it */

.main_div {
    grid-area: main_div;

    display: grid;
    grid-template-rows: 50px auto;
    grid-template-areas: "history" "visualizations";
}

.history {
    grid-area: history;
}

/* The visualization element and elements inside it */


.k_means_div {
  grid-area: k_means;
}

.lollipop_div {
  grid-area: lollipop;
}

.scatterplot_div {
  grid-area: scatterplot;
}

/* The button styles */

.button {
    /* 300px: width if the sidepanel defined in the grid-template for #root */
    /* 40px = 2 times 20px padding in .sidepanel */
    width: calc(300px - 40px);
    border-radius: 20px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}

.button:hover {
    background: rgb(180, 180, 180);
}

/* The tab styles */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tablinks_sidepanel {
    width: 50%;
}

.tablinks_history {
    width: 20%;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}

.tabcontent_history {
  grid-area: none;
  width: 100%;
}

/* The visualization element and elements inside it */

/**
.visualizations {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "lollipop scatterplot" "k_means k_means";
}

**/

.visualizations {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "active_tab";
}

.visualizations_history {
  padding: 20px;
  width: 85%;
  height: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "lollipop scatterplot" "k_means k_means";
}

.graph_div {
  height: auto;
  margin: 20px;
}

.kmeans_div {
  grid-area: k_means;
  width: 100%;
}

.lollipop_div {
  grid-area: lollipop;
}

.scatterplot_div {
  grid-area: scatterplot;
}

/* The tooltip and input elements */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
    pointer-events: none;
    font-size: 12px;
}